data/_femnist
data/leaf_utils
data/femnist
out*
data/cifar*
data/pathmnist*
data/MNIST
data/mnist*
samples
src/utils/InST
images/
src/utils/ddpm
wandb
*.pkl
_images_fid
images_fid
phoenix
*images_fid
tmp_phoenix
*.png
